{alias, [
    {check, [
        lint,
        xref,
        dialyzer,
        edoc,
        {eunit, "-c"},
        {ct, "-c"},
        {proper, "-c"},
        {cover, "-v --min_coverage=0"},
        todo
    ]}
]}.

{cargo_opts, [{src_dir, "native/a_tree"}]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{cover_export_enabled, true}.

{deps, []}.

{dialyzer, [{warnings, [unknown]}]}.

{edoc_opts, [
    {app_default, "https://www.erlang.org/doc/man"},
    {image, ""},
    {preprocess, true},
    {title, "a-tree"}
]}.

{erl_opts, [debug_info, warn_unused_import, warnings_as_errors]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"LICENSE-MIT", #{title => "License MIT"}},
        {"LICENSE-APACHE", #{title => "License Apache 2.0"}}
    ]},
    {main, "README.md"},
    {homepage_url, "https://github.com/AntoineGagne/erl-a-tree"},
    {source_url, "https://github.com/AntoineGagne/erl-a-tree"}
]}.

{minimum_otp_vsn, "21.0"}.

{project_plugins, [
    rebar3_ex_doc,
    {rebar3_proper, "0.11.1"},
    erlfmt,
    rebar3_hex,
    coveralls,
    rebar3_rustler
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {eunit_opts, [no_tty, {report, {unite_compact, []}}]},
        {deps, [
            {meck, "0.8.9"},
            {proper, {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
            {unite, {git, "https://github.com/eproxus/unite.git", {tag, "v0.4.0"}}}
        ]}
    ]}
]}.

{provider_hooks, [
    {pre, [{compile, {cargo, build}}]},
    {post, [{clean, {cargo, clean}}, {eunit, {cargo, test}}]}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{xref_ignores, []}.
