name: Erlang
on: [push]
jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        action:
          - fmt -c
          # - eunit
          - ct
          # - proper

    container:
      image: erlang:27

    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Cache
        uses: actions/cache@v5
        env:
          cache-name: rebar3
        with:
          path: |
            ~/.cache/rebar3
            _build
          key: ci-${{runner.os}}-${{env.cache-name}}-erlang-rebar3-${{hashFiles('rebar.lock')}}
          restore-keys: |
            ci-${{runner.os}}-${{env.cache-name}}-erlang-rebar3
            ci-${{runner.os}}-${{env.cache-name}}-erlang

      - name: Check
        run: rebar3 ${{matrix.action}}
